<ul class="menu">
  <li class="menuItem" routerLinkActive="active">
    <a [routerLink]="['incomingDocuments']"
      ><mat-icon aria-hidden="false" aria-label="folder">folder</mat-icon
      ><small>Входящие документы</small></a
    >
  </li>
  <li class="menuItem" routerLinkActive="active">
    <a [routerLink]="['outgoingDocuments']"
      ><mat-icon aria-hidden="false" aria-label="folder">folder</mat-icon
      ><small>Исходящие документы</small></a
    >
  </li>
  <li class="menuItem" routerLinkActive="active">
    <a [routerLink]="['notifications']"
      ><mat-icon aria-hidden="false" aria-label="notifications"
        >notifications</mat-icon
      ><small>Уведомления</small></a
    >
  </li>
</ul>
