<div class="wrap">
  <div class="sidebar">
    <div class="mainTitle">
      <a routerLink="/">Делопроизводитель</a>
    </div>

    <app-main-menu></app-main-menu>

    <div class="logout menuItem">
      <a routerLink=""
        ><mat-icon aria-hidden="false" aria-label="logout">logout</mat-icon
        ><small>Выйти</small></a
      >
    </div>
  </div>

  <div class="wrapContent">
    <div class="searchBlock">
      <app-search-block></app-search-block>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
